/* Variables */

:root {
    --basic-black: #000000;
    --black-brown:#231F20;
    --basic-white: #ffffff;
    --basic-gray:#CACACA;
    --light-gray:#F2F2F2;
    --dark-gray:#EBEBEB;
    --dim-gray:#666666;
    --aluminium:#A9A9A9;
    --basic-brown:#766357;
    --dark-brown:#604E43;
    --darkest-brown:#503E33;
    --basic-blue:#81B3D2;
    --dark-blue:#669EC0;
    --darkest-blue:#5496BD;
  }