/* Variables */

:root {
  --basic-black: #000000;
  --light-black: #333333;
  --black-brown: #231F20;
  --basic-white: #ffffff;
  --basic-gray: #CACACA;
  --light-gray: #F2F2F2;
  --border-gray: #E5E5E5;
  --dark-gray: #EBEBEB;
  --dim-gray: #666666;
  --pale-gray: #6A6A6A;
  --pinkish-gray: #BDBBBC;
  --background-gray: #eeeeee;
  --aluminium: #A9A9A9;
  --basic-brown: #766357;
  --dark-brown: #604E43;
  --darkest-brown: #503E33;
  --basic-blue: #81B3D2;
  --dark-blue: #669EC0;
  --darkest-blue: #5496BD;
}

/* Global */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body .container {
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

body {
  background-color: var(--light-gray);
  min-width: 1220px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Grid*/

.page {
  height: 100%;
}

div .page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Site navigation */

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-weight: bold;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.main-navigation {
  padding: 0 72px;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  width: 138px;
  margin-left: -69px;
}

.site-navigation-item {
  width: 228px;
  padding-top: 14px;
  padding-bottom: 16px;
  text-align: left;
}

.site-navigation-item:nth-child(4n+3) {
  margin-left: 144px;
  text-align: right;
}

.site-navigation-item:nth-child(4n+4) {
  text-align: right;
  padding-left: 2px;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation .link--active {
  color: var(--basic-brown);
}

.intro {
  background-image: url(../img/backgroundsedona.jpg);
  background-color: var(--aluminium);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  height: 509px;
  padding: 76px;
}

.reasons {
  position: relative;
  z-index: 1;
}

.reasons .description-wrapper {
  padding-top: 42px;
  padding-bottom: 52px;
  width: 500px;
  margin: 0 auto;
}

.description-wrapper h2 {
  margin-top: 43px;
  margin-bottom: 0;
}

.reasons b {
  font-size: 21px;
  line-height: 26px;
}

.reasons h2 {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
}

.reasons h3 {
  font-size: 21px;
  font-weight: bold;
  margin: 0;
}

.reasons h4 {
  font-size: 21px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 25px;
}

.reasons p {
  margin: 0;
}

div.reasons-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  width: 400px;
  padding-top: 47px;
  padding-bottom: 26px;
  padding-left: 49px;
  padding-right: 49px;
}

.reasons-text h3 {
  padding: 0 43px;
  margin-bottom: 26px;
}

.reasons-text p {
  margin-top: 24px;
}

.advantages-reason-1 p, .reasons-item.part-2 p, .reasons-item.part-2 span {
  color: var(--light-black);
}

.reasons-item.part-2 {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding-top: 47px;
  padding-bottom: 55px;
  padding-left: 69px;
  padding-right: 69px;
  align-items: center;
  background-color: var(--background-gray);
}

.reasons-item.part-2 h3 {
  padding: 0 52px;
  margin-bottom: 25px;
}

.reasons-item.part-2 p {
  margin-top: 24px;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}

li.reasons-item.part-1 {
  display: flex;
  flex-wrap: wrap;
}

li.reasons-item.part-1 img {
  background-color: var(--aluminium);
}

.advantages-reason-1 {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  list-style: none;
}

.advantages-reason-1 .reasons-item {
  width: 400px;
  padding: 160px 55px 82px 55px;
  position: relative;
}

.advantages-reason-1 .reasons-item.housing::before {
  content: "";
  background-image: url(../img/icon-1.svg);
  width: 75px;
  height: 72px;
  margin: 0 auto;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 60px;
  background-repeat: no-repeat;
}

.advantages-reason-1 .reasons-item.food::before {
  content: "";
  background-image: url(../img/icon-3.svg);
  width: 75px;
  height: 70px;
  margin: 0 auto;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 61px;
  background-repeat: no-repeat;
}

.advantages-reason-1 .reasons-item.gifts::before {
  content: "";
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  width: 64px;
  height: 77px;
  margin: 0 auto;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 56px;
  background-repeat: no-repeat;
}

/*hotel-offers*/

.hotel-offers {
  padding-top: 58px;
  padding-bottom: 45px;
  position: relative;
  z-index: 1;
  background-color: var(--basic-white);
}

.hotel-offers p {
  margin: 0;
}

.hotel-offers h2 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  line-height: 24px;
}

.hotel-offers p {
  line-height: 24px;
}

.hotel-search {
  position: relative;
  width: 568px;
  margin: 0 auto;
}

.hotel-search-button {
  z-index: 1;
  position: relative;
  display: block;
  width: 100%;
  padding: 30px;
  background-color: var(--basic-brown);
  color: var(--basic-white);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  border: 0;
}

.hotel-search-button:hover {
  background-color: var(--dark-brown);
}

.hotel-search-button:active {
  background-color: var(--darkest-brown);
  color: rgba(255, 255, 255, 0.3);
}

/* .hotel-search-form*/

.form-shown {
  display: block;
}

.form-hidden {
  transform: translateY(-100%);
}

.hotel-search-form {
  padding: 55px;
  line-height: 26px;
  font-weight: bold;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  right: 0;
  width: 568px;
  background-color: var(--basic-white);
  position: absolute;
  transition: transform .4s ease-in-out;
}

.hotel-search-form label {
  width: 112px;
  flex: none;
  text-align: left;
}

.hotel-search-form input {
  flex-grow: 1;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--light-gray);
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 13px;
}

.hotel-search-form input[type="number"]::-webkit-outer-spin-button, .hotel-search-form input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hotel-search-form input[type="number"] {
  -moz-appearance: textfield;
}

.price-controls input[type="number"]::-webkit-outer-spin-button, .price-controls input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price-controls input[type="number"] {
  -moz-appearance: textfield;
}

.hotel-search-form input:hover {
  background-color: var(--dark-gray);
}

.hotel-search-form input:focus {
  background-color: var(--basic-white);
}

.calendar-button {
  position: absolute;
  border: none;
  background-color: transparent;
  padding: 0;
  right: 9px;
}

.calendar-button:hover path {
  fill: var(--basic-black);
}

.calendar-button:active path {
  fill: var(--basic-blue);
}

.form-row {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 29px;
}

.form-row p {
  margin-top: 0;
  margin-bottom: 0;
}

.half-size-row {
  display: flex;
  align-items: center;
}

.half-size-row+.half-size-row {
  margin-left: auto;
}

.half-size-row.children>label {
  width: 65px;
}

.half-size-row input {
  width: 38px;
}

.amount-minus, .amount-value, .amount-plus {
  width: 38px;
  height: 38px;
  border: none;
}

button.amount-plus, button.amount-minus {
  background-color: var(--light-gray);
  position: relative;
}

button.amount-plus::before, button.amount-plus::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--aluminium);
  width: 12px;
  height: 3px;
  left: 13px;
}

button.amount-plus::after {
  transform: rotate(-90deg);
}

button.amount-minus::before {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--aluminium);
  width: 12px;
  height: 3px;
  left: 13px;
}

button.amount-plus:hover::before, button.amount-plus:hover::after, button.amount-minus:hover::before {
  background-color: var(--basic-black);
}

button.amount-plus:active::before, button.amount-plus:active::after, button.amount-minus:active::before {
  background-color: var(--basic-blue);
}

.hotel-search-form-submit {
  display: block;
  width: 100%;
  padding: 16px;
  font-weight: bold;
  font-size: 21px;
  line-height: 27px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  text-transform: uppercase;
  border: none;
  margin-top: 54px;
}

.hotel-search-form-submit:hover {
  background-color: var(--dark-blue);
}

.hotel-search-form-submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--darkest-blue);
}

/*form*/

/*hotels*/

/*hotel-filter*/

.hotel-filter form {
  display: flex;
  padding-top: 26.5px;
  padding-bottom: 32px;
  padding-left: 72px;
  padding-right: 73px;
}

.hotel-filter-form .infrastructure-column {
  text-align: left;
  margin: 0;
  padding: 0;
}

.hotel-filter-form .accommodation-column {
  text-align: left;
  padding: 0;
  margin: 0 0 0 117px;
}

.hotel-filter-form .price-column {
  width: 316px;
  margin: 0 0 0 auto;
  padding: 0;
}

.hotel-filter-form ul {
  padding: 0;
}

.price-column legend {
  text-align: left;
}

/*price-filter*/

.price-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
  margin-top: 10px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  min-height: 36px;
  height: 36px
}

.price-controls input {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: var(--basic-white);
  width: 50px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: var(--basic-white);
  transform: translate(-50%, -50%);
}

.price-controls label {
  padding-left: 34px;
}

.price-controls .min-price {
  padding-right: 42px;
}

.range-controls {
  position: relative;
  margin-bottom: 33px;
}

.range-controls .scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: -9px;
  width: 19px;
  height: 21px;
  background-image: url(../img/filter-button.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.range-controls .toggle:hover {
  width: 23px;
  height: 24px;
}

.toggle.toggle-max {
  left: 80%
}

.filter-list {
  position: relative;
  margin-top: 24px;
  margin-bottom: 0;
  list-style: none;
}

.filter-list label {
  padding-left: 41px;
}

.filter-list li:not(:last-child) {
  margin-bottom: 25px;
}

.hotel-filter {
  background-image: url(../img/hotelsbackground.png);
  background-color: var(--light-gray);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.hotel-filter fieldset {
  border: none;
  color: var(--basic-white);
}

.hotel-filter fieldset legend {
  font-weight: bold;
  font-size: 16px;
}

.show-hotel-button {
  margin-left: -11px;
  padding: 3px 35px 8px 35px;
  background-color: rgba(255, 255, 255, 0);
  color: var(--basic-white);
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.show-hotel-button:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

/*check-box*/

.check-box {
  position: absolute;
  background-image: url(../img/checkbox-off.svg);
  width: 27px;
  height: 23px;
  background-repeat: no-repeat;
  margin-left: -39px;
}

.check-input:focus+.check-box {
  outline: -webkit-focus-ring-color auto 1px;
}

/*checked*/

.check-input:checked+.check-box {
  background-image: url(../img/checkbox-on.svg);
}

.check-input:disabled+.check-box {
  background-image: url(../img/checkbox-disabled-off.svg);
}

.check-input:checked:disabled+.check-box {
  background-image: url(../img/checkbox-disabled-on.svg);
}

/*sort*/

.sort h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.sort h3 {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  margin-left: 46px;
}

.sort .link {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed var(--basic-blue)
}

.sort .link:hover {
  color: var(--basic-blue);
  opacity: 1;
}

.sort .link:active {
  color: var(--basic-black);
  border-bottom: none;
}

.sort .link--active {
  color: var(--basic-blue);
  font-size: 12px;
  line-height: 18px;
}

.sort-arrow-list .sort-arrow-up {
  display: block;
  background-image: url(../img/icon-up-rest.svg);
  width: 11px;
  height: 10px;
  margin-right: 12px;
}

.sort-arrow-list .sort-arrow-up:hover {
  background-image: url(../img/icon-up-hover.svg);
}

.sort-arrow-list .sort-arrow-up:active {
  background-image: url(../img/icon-up-active.svg);
}

.sort-arrow-list .sort-arrow-down {
  display: block;
  background-image: url(../img/icon-down-rest.svg);
  width: 11px;
  height: 10px;
}

.sort-arrow-list .sort-arrow-down:hover {
  background-image: url(../img/icon-down-hover.svg);
}

.sort-arrow-list .sort-arrow-down:active {
  background-image: url(../img/icon-down-active.svg);
}

.sort-arrow-down.link--active {
  background-image: url(../img/icon-down-active.svg);
}

.search-result h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.search-result h3 a {
  color: var(--basic-black);
}

.search-result h3 a:hover {
  color: var(--basic-blue);
}

.search-result h3 a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.more-detailed-link {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-weight: bold;
  padding: 3px 17px;
}

.more-detailed-link:hover {
  background-color: var(--dark-blue);
}

.more-detailed-link:active {
  background-color: var(--darkest-blue);
  color: rgba(255, 255, 255, 0.3);
}

.book-link {
  background-color: var(--basic-brown);
  color: var(--basic-white);
  font-weight: bold;
  padding: 3px 17px;
}

.book-link:hover {
  background-color: var(--dark-brown);
}

.book-link:active {
  background-color: var(--darkest-brown);
  color: rgba(255, 255, 255, 0.3);
}

.hotel-item {
  display: flex;
  border-bottom: 1px solid var(--border-gray);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 73px;
  padding-right: 73px;
}

.hotel-item img {
  background-color: var(--aluminium);
}

.hotel-image {
  min-width: 135px;
}

.hotel-image img {
  display: block;
}

.hotel-type-price {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
  margin-bottom: 16px;
}

.hotel-type-price span:first-child {
  min-width: 115px;
  text-align: left;
  padding-right: 20px;
}

.hotel-type-price span:last-child {
  margin-right: auto;
}

.hotel-more-book-links {
  display: flex;
  width: 258px;
  margin: 0;
  justify-content: space-between;
}

.hotel-description {
  display: flex;
  margin-left: 29px;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-description h3 {
  margin: 0;
}

/*rating*/

.rating .rating-value {
  min-width: 110px;
  background-color: var(--light-gray);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 12px;
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
}

.rating .stars {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  list-style: none;
}

.stars .star-item {
  background-image: url(../img/star.svg);
  width: 18px;
  height: 17px;
  margin-left: 5px;
}

.search-result h3 {
  margin: 0;
  text-align: left;
  margin-top: -6px;
}

section.sort {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-gray);
  padding: 12px 73px;
}

.sort-type-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.sort-type-list li {
  margin-right: 32px;
}

.sort-arrow-list {
  display: flex;
  margin-left: auto;
  list-style: none;
}

.hotels-list {
  margin: 0;
  padding: 0;
}

/*Map*/

.map {
  background-image: url(../img/map.png);
  height: 593px;
  background-size: 100%;
  background-color: var(--aluminium)
}

.map iframe {
  display: block;
}

/* Main footer */

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.contacts a {
  color: var(--basic-black);
}

.main-footer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 1200px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.9);
  padding-left: 127px;
  padding-right: 138px;
  padding-bottom: 36px;
  padding-top: 23px;
}

.main-footer p {
  margin: 0;
}

.main-footer.footer-hotels {
  position: relative;
}

.main-footer.footer-hotels .contacts span:nth-child(2) {
  padding-top: 9px;
}

.footer-hashtag {
  padding-bottom: 9px;
}

.main-footer .website-by {
  display: flex;
  align-items: center;
  padding-top: 14px;
}

.website-by .developers-logo {
  margin-left: 8px;
}

.website-by .developers-logo:hover path {
  fill: var(--basic-blue);
}

.website-by .developers-logo:active path {
  fill: var(--pinkish-gray);
}

.soc-networks {
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 7px;
  padding-top: 12px;
  list-style: none;
}

.soc-networks a {
  position: relative;
  display: block;
  background-color: var(--basic-blue);
  width: 46px;
  height: 48px;
}

.soc-networks a:hover {
  background-color: var(--dark-blue);
}

.soc-networks a:active {
  background-color: var(--darkest-blue);
}

.soc-networks li {
  margin-right: 6px;
}

.soc-networks .twitter::before {
  content: "";
  background-image: url(../img/twitter.svg);
  display: block;
  width: 46px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
}

.soc-networks .facebook::before {
  content: "";
  background-image: url(../img/fb-icon.svg);
  display: block;
  width: 46px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
}

.soc-networks .youtube::before {
  content: "";
  background-image: url(../img/youtube.svg);
  display: block;
  width: 46px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
}

.soc-networks .twitter:active::before, .soc-networks .facebook:active::before, .soc-networks .youtube:active::before {
  opacity: 0.3;
}
